/*修复语法高亮滚动条问题*/
.markdown-body .highlight {
    overflow: auto;
}

/*自定义logo*/
.g-header .g-logo {
    background: url("/assets/img/profile.jpg") center !important;
    background-size: cover !important;
    width: 26px !important;
    height: 26px !important;
    border-radius: 50% !important;
}

.home-banner .header-img {
    min-height: 100% !important;
}

.post-no-cover,
.tags-banner {
    background: url("/assets/img/kb.jpg") center !important;
    background-size: cover !important;
}

.tags-banner {
    height: 360px;
}

 /*这里是闪烁光标*/
.cursor.blink {
    width: 3px;
    height: 24px;
    display: inline-block;
    animation: blink 2s infinite steps(1, start);
}

/*这里设置动画blink*/
@keyframes blink {
    0%, 100% {
        background-color:  rgba(255,255,255,1);       
    }
    50% {
        background-color: rgba(0,0,0,0);
    }
}